torch>=2.1.0
torchvision>=0.16.0
torchaudio

transformers>=4.38.0
accelerate>=0.27.0
datasets>=2.17.0
tokenizers>=0.15.0

timm>=0.9.10
sentencepiece
protobuf
scipy
einops

numpy
pandas
tqdm
matplotlib
pillow
scikit-learn

wandb

huggingface_hub>=0.20.0
h11

dotenv

pycocotools